<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
 <ul id="MenuItems">
              <li><a href="index.html">Home</a></li>
              <li><a href="products.html">Packages</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="account.html">Account</a></li>
              <!-- TODo: 22:20 -->
            </ul>
          </nav>
     
      
    </div>

        
</div>


<h1>Select date for car booking</h1>
<br><br><br>
<form action="/action_page.php">
  <label for="birthdaytime">time:</label>
  <input type="datetime-local" id="birthdaytime" name="birthdaytime">
  <input type="submit">
</form>

